body {
  background: #0a0a0c;
  color: #d4d4d4;
  font-family: "Inter", sans-serif;
}

.navbar {
  background: #080809;
  position: sticky;
  top: 0;
  border-bottom: 2px solid #009c17 ;
  z-index: 50;
}

.navbar-brand {
  color: #e8e8e8 !important ;
  text-shadow: 0  0 20px white;
  letter-spacing: 1px;
}

.nav-link {
  color: #d0d0d0 !important;
  transition: .2s;
}

.nav-link:hover {
  color: #00ff88 !important;
}

.hero {
  min-height: 50vh;
  background: linear-gradient(to bottom, #022402, #0b0b0c);
  border-bottom: 2px solid #1d1d1f;
  text-align: center;
  padding: 80px 0;
}

.hero h1 {
  font-size: 2.6rem;
  color: #e8e8e8;
  font-weight: 700;
}

.hero .subtitle {
  color: #7f7f7f;
  font-size: 1.1rem;
}

.btn-primary {
  background: #00c068;
  border: 2px solid #00964d;
  color: #0b0b0c;
  font-weight: 600;
  text-transform: uppercase;
  transition: .3s;
}

.btn-primary:hover {
  background: #009e53;
  border-color: #00c068;
}

.product-card, .deal-card {
  background: #131316;
  border: 2px solid #1f1f22;
  transition: .25s ease;
  color: #d4d4d4;
}

.product-card:hover, .deal-card:hover {
  border-color: #00c068;
}

.product-card img {
  height: 240px;
  object-fit: cover;
}

.category, .details {
  color: #636363;
  font-size: .85rem;
}

strong {
  color: #00ff88;
  font-weight: bold;
  text-shadow: 0 0 18px rgba(0, 255, 140, 0.475);
}

.old-price {
  text-decoration: line-through;
  color: #666;
}

.section-title {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #e8e8e8;
}

.feature-box {
  background: #101012;
  border: 2px solid #717171;
  padding: 22px;
  color: #cfcfcf;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transition: all .4s ease;
}

.feature-box:hover {
  border-color: #009c17 ;
}

.feature-box i {
  font-size: 2rem;
  color: #009c17;
}

footer {
  background: #090909;
  border-top: 2px solid #1d1d1f;
  margin-top: 40px;
  padding: 40px 0;
  text-align: center;
}

footer p {
  color: #e8e8e8;
  font-weight: 600;
}
